streamlit==1.55.0
pandas==2.2.3
numpy
plotly==6.0.1
openpyxl==3.1.5
scikit-learn==1.6.1
matplotlib==3.10.8
streamlit_option_menu==0.4.0
dataframe-image
xlsxwriter
polars
fastexcel
bcrypt
python-dotenv
libsql